<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views !</h1>
    <div>
      <p>Hello User, la liste des potins arrive bientôt ! En attendant tu peux cliquer sur le lien ci-dessous</p>
      <a href="/gossips/new/">GOSSIP</a>
    </div>
  </body>
</html>
